<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<title>钱保姆后台管理系统</title>
	<meta name="renderer" content="webkit">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="bookmark" href="/favicon.ico" />
	<link rel="stylesheet" href="/statics/plugins/layui/css/layui.css" media="screen" />
	<link rel="stylesheet" href="/statics/css/qbm-manage.css" media="screen" />
</head>

<body>
	<div class="admin-wrap">
		<blockquote class="layui-elem-quote" style="overflow: hidden;">
			<form class="layui-form" id="myForm">
				<button class="layui-btn layui-btn-normal exportBtn" style="display: inline-block;">导出结果</button>
				<div class="layui-form-item" style="margin:0; width: 80%;float: right;text-align: right;">
					<div class="layui-inline">
						<label class="layui-form-label">时间范围</label>
						<div class="layui-input-inline" style="width: 120px;">
							<input type="text" name="startTime" id="startTime" name="" placeholder="" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-form-mid">-</div>
						<div class="layui-input-inline" style="width: 120px;">
							<input type="text" name="endTime" id="endTime" name="" placeholder="" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<div class="layui-input-inline">
							<input type="text" name="searchName" id="seachInput" placeholder="订单编号/商品名/用户名" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-form-mid layui-word-aux" style="padding:0;">
							<button class="layui-btn" lay-submit lay-filter="searchSubmit">查询</button>
						</div>
					</div>
				</div>
			</form>
		</blockquote>
		<table class="layui-table admin-table" lay-even>
			<thead>
				<tr>
					<th >序号</th>
					<th>订单编号</th>
					<th>下单时间</th>
					<th>商品</th>
					<th>市场价(元)</th>
					<th>购买用户</th>
					<th>购买金额(元)</th>
					<th>期限</th>
					<th>订单状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="dataList">
				<script id="listTpl" type="text/html">
					{{each dataList}}
					<tr>
						<td>{{$value.id}}</td>
						<td>{{$value.orderNo}}</td>
						<td>{{$value.orderTime | dateFormatFun:5}}</td>
						<td>{{$value.goodsName}}</td>
						<td>{{$value.marketPrice}}</td>
						<td>{{$value.phone}}</td>
						<td>{{$value.account}}</td>
						<td>{{$value.timeLimit}}个月</td>
						<td>{{$value.status | orderStatusFun}}</td>
						<td style="text-align: center;">
							{{if $value.status==1}}<a href="javascript:;" class="layui-btn layui-btn-mini cateBtn" data-type="deliver" data-id="{{$value.id}}">发货</a>{{/if}}
							{{if $value.status==2}}<a href="javascript:;" class="layui-btn layui-btn-mini cateBtn" data-type="receipt" data-id="{{$value.id}}">收货</a>{{/if}}
							<a href="javascript:;" class="layui-btn layui-btn-mini detailBtn" data-id="{{$value.id}}">详情</a>
						</td>
					</tr>
					{{/each}}
				</script>
				
			</tbody>
		</table>
		<div id="pageBar" class="hide">
			<div class="fn-l page-record">共<span id="totalRecord"></span>条记录</div>
			<div id="pages" class="fn-r page txt-right"></div>
		</div>
	</div>
	<script type="text/javascript" src="/statics/plugins/layui/layui.js"></script>
	<script type="text/javascript" src="/statics/js/page/module/zeroBuy/orderManage/list.js"></script>	
</body>
</html>
