body{background-color: #fff;}
.txt-right{text-align: right;}
.txt-center{text-align: center;}
.posr{position: relative;}
.posb{position: absolute;}
.hide{display: none !important;}
.fn-l{float: left;}
.fn-r{float: right;}
.clearfix:after{content: ".";display: block;height: 0;	clear: both;visibility: hidden;}
.clearfix{zoom:1;display: inline-block;_height: 1px;}
.clearfix{display: block;}

@font-face {font-family: "qbm-icon";
  src: url('../iconfont/iconfont.eot?t=1500210824475'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1500210824475#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1500210824475') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1500210824475') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1500210824475#qbm-icon') format('svg'); /* iOS 4.1- */
}

.qbm-icon {
  font-family:"qbm-icon" !important;
  font-size:15px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qbm-icon-fenlei:before { content: "\e600"; }
.qbm-icon-hidemenu:before { content: "\e614"; }
.qbm-icon-shangpinguanli:before { content: "\e667"; }
.qbm-icon-wxbbaobiao:before { content: "\e618"; }
.qbm-icon-erweima:before { content: "\e642"; }
.qbm-icon-lianjie:before { content: "\e646"; }
.qbm-icon-shuaxin:before { content: "\e650"; }
.qbm-icon-wodedingdan:before { content: "\e655"; }
.qbm-icon-xiaoxizhongxin:before { content: "\e665"; }
.qbm-icon-shopping:before { content: "\e612"; }
.qbm-icon-comiiszanwushuju:before { content: "\e6aa"; }
.qbm-icon-xiugai:before { content: "\e6a2"; }
.qbm-icon-chushou:before { content: "\e609"; }
.qbm-icon-tuiguang:before { content: "\e628"; }
.qbm-icon-gongnengguanli:before { content: "\e605"; }
.qbm-icon-quanping:before { content: "\e613"; }
.qbm-icon-qudao:before { content: "\e60b"; }
.qbm-icon-xitongguanli:before { content: "\e679"; }
.qbm-icon-jichuguanli:before { content: "\e656"; }
.qbm-icon-piliangtianjia:before { content: "\e637"; }
.qbm-icon-shangjiashangpin:before { content: "\e626"; }
.qbm-icon-financialManage:before { content: "\e676"; }
.qbm-icon-shousuo:before { content: "\e693"; }
.qbm-icon-tuichu:before { content: "\e60f"; }
.qbm-icon-home:before { content: "\e6f6"; }

.layui-layout-admin{border-bottom: solid 5px #1aa094;}
.layui-tab-content{min-height: 150px; padding: 0;}

/* 头部 */admin-side-toggle
.header{height: 65px; border-bottom: 1px solid #404553;  background-color: #393D49; color: #fff;}
.header .layui-nav{position: absolute; right: 0; top: 0; padding: 0; background: none;}
.header .layui-nav .layui-nav-item{margin: 0 20px; line-height: 66px;}

.menu{position: absolute; right: 0; top: 0; line-height: 65px;}
.menu a{display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.menu a{position: relative; padding: 0 20px; margin: 0 20px; color: #c2c2c2; font-size: 14px;}
.menu a:hover{color: #fff; transition: all .5s; -webkit-transition: all .5s}
.menu a.this{color: #fff}
.menu a.this::after{content: ''; position: absolute; left: 0; bottom: -1px; width: 100%; height: 5px; background-color: #5FB878;}

.header-index{background-color: #080018; border: none;}
.layui-layout-admin .qbm-header{border-bottom-color: #1AA094; background-color: #fff;}
.qbm-header .logo{position: absolute; left: 30px;top: 18px;}
.qbm-header .logo img{width: 120px; height: 32px;}
.qbm-header .layui-nav{top: 0;}
.qbm-header .layui-nav .layui-nav-item{margin: 0; line-height: 64px;}
.qbm-header .layui-nav .layui-nav-item a{color: #999;}
.qbm-header .layui-nav .layui-this{background-color: #f2f2f2;}
.qbm-header .layui-nav .layui-nav-item a:hover,
.qbm-header .layui-nav .layui-this a{color: #000;}
.qbm-header .layui-nav .layui-this:after,
.qbm-header .layui-nav-bar{background-color: #393D49;}
.qbm-header .layui-nav .layui-this a{padding: 0 20px;}
.qbm-header .layui-nav i.qbm-icon{margin-right: 6px;font-size: 1.3em;}

.layui-layout-admin .layui-body{bottom: 0!important;}
.layui-anim-scaleSpring{-webkit-animation-name: layui-scale-spring; animation-name: layui-scale-spring}

.layui-nav-item .layui-icon{position: relative; /*font-size: 20px;*/}
.layui-nav-item a cite{padding: 0 10px;}
.admin-header-user img{width: 40px; height: 40px; border-radius: 100%;}
.admin-header-user .layui-nav-more{top: 28px;}
.admin-header-user .layui-nav-mored{top: 23px;}
.admin-nav-tree .layui-nav-child a {padding-left: 30px;}
.admin-nav-card{margin-top: 5px;}
.admin-nav-card .layui-icon{position: relative;}
.admin-nav-card .layui-tab-item iframe{width: 100%;border: 0;height: 100%;}
.admin-nav-card>.layui-tab-title{border-bottom: 1px solid #1AA094;}
.admin-nav-card .layui-tab-title cite{font-style: normal;padding-left: 5px;}
.admin-nav-card>.layui-tab-title .layui-this{color: #fff;  background-color: #1AA094;}
.admin-nav-card>.layui-tab-title .layui-this:after{border-bottom: 0;}

/*lock*/
.admin-header-lock{width: 320px; height: 150px; padding: 20px; position: relative; text-align: center;}
.admin-header-lock-img{width: 60px; height: 60px; margin: 0 auto;}
.admin-header-lock-img img{width: 60px; height: 60px; border-radius: 100%;}
.admin-header-lock-name{color: #009688;margin: 8px 0 15px 0;}
.admin-header-lock-input{width: 150px; color: #fff; height: 30px; border: 0;background-color: #009688; padding: 0 7px; border-radius: 2px;}
/**/
.admin-main {margin: 15px;}
.admin-side-toggle,.admin-side-full{position: absolute; cursor: pointer; z-index: 19940201; left: 186px; color: #fff; text-align: center; width: 30px;  height: 30px; background-color: #1AA094; line-height: 30px; top: 25%;}
.admin-side-toggle:hover,.admin-side-full:hover{background-color: #5FB878;color: #fff;}
.admin-side-full{left: 240px;}
.admin-login-box{height: 70px; position: relative;}
.beg-navbar .layui-nav-child dd a{padding-left: 30px;}
.admin-contextmenu{position: absolute;line-height: 36px;padding: 5px 0;border: 1px solid #d2d2d2;background-color: white;z-index: 19940201;border-radius: 2px;white-space: nowrap;top:30px;	}
.admin-contextmenu ul li{padding: 0 15px;}
.admin-contextmenu ul li:hover{background-color: #eee;cursor: pointer;}

body iframe{/*//background: #F1F2F7;*/}
.admin-wrap{padding: 20px;}
.layui-elem-field legend{font-size: 16px;}
#framePage{position:absolute;top:0;bottom:0;left:0;right:0;overflow-y:auto;}
.pageFrame{padding-bottom: 40px;}
.activtity-pageFrame{height: 490px;overflow-y: auto;padding-bottom: 0;}
.prize-pageFrame{height: 390px;overflow-y: auto;padding-bottom: 0;}
.qbm-form-btn{background-color: #f8f8f8; position: fixed; bottom: 0; padding: 15px; left: 0; right: 0; text-align: right;}
.setting-form .layui-form-label{width: 98px !important;}
.uploadify-queue{display: none !important;}
.uploadBtnStyle{width: 110px!important;height: 36px!important;background:url("../img/uploadBtn.png") no-repeat!important;border: 1px solid #dfdfdf!important;border-radius: 2px!important;}
.uploadBtnStyle:hover{border-color: #aaa;}
.picPrivew{margin-top:10px;display:inline-block;}
.closeBtn{top:10px;right:10px;}

/*login*/
.login-bg{background-color: #f8f6f2 !important;}
/*登录框水平垂直居中*/
.login-form{position: absolute;width: 300px; height: 230px;left:50%;top:50%; margin-left:-150px;margin-top:-150px;}
.login-logo{text-align: center;	padding-bottom: 20px;}
.login-btn{	display: block !important;	background-color: #fe8b52;}
.tagbox {
    display: flex;
    padding-top: 6px;
    .tag {
        position: relative;
        justify-content: flex-start;
        align-items: center;
        margin-right: 20px;
        border: 1px solid #666;
        padding: 2px 5px;
        min-width: 80px;
        min-height: 21px;
        line-height: 21px;
        text-align: center;
    }
    .tagSel {
        border-color: #FF5722;
        color: #FF5722;
    }
}
/*flex*/
.dp-flex{
  display: flex;
}
/*flex主轴*/
.flex-jc-c{
  justify-content: center;
}
.flex-jc-e{
  justify-content: flex-end;
}
.flex-jc-sa{
  justify-content: space-around;
}
.flex-jc-sb{
  justify-content: space-between;
}
/*flex交叉轴*/
.flex-ai-c{
  align-items: center;
}
.flex-ai-e{
  align-items: flex-end;
}
.flex-ai-b{
  align-items: baseline;
}
.flex-ai-s{
  align-items: stretch;
}
/*flex wrap*/
.flex-fw-w{
  flex-wrap: wrap;
}
.flex-fw-wr{
  flex-wrap: wrap-reverse;
}
/*flex 多条轴线对齐方式*/
.flex-ac-e{
  align-content: flex-end;
}
.flex-ac-c{
  align-content: center;
}
.flex-ac-sb{
  align-content: space-between;
}
.flex-ac-sa{
  align-content: space-around;
}
.flex-ac-s{
  align-content: stretch;
}

.colla-content{
  padding: 20px 30px;
  p{
    padding: 0 10px;
    line-height: 36px;
    input{
      line-height: 28px;
    }
    span{
      display: inline-block;
      width: 49.5%;

    }
    label{
      display: inline-block;
      width: 86px;
      text-align: right;
      margin-right: 4px;
    }
  }
  .order-info{
    padding: 15px;
    background: #ccc;
    color: #000;
    font-size: 12px;
  }
}

.onSale{
  color: #5FB878;
}
.sellOut{
  color: #FF5722;
}

.list-no-data{
  color: #333;
  span.qbm-icon{
    font-size: 180px;
    color: #999
  }
}

.goods-page{
  .layui-form-label{
    width: 84px ;
  }
  .layui-input-block{
    margin-left: 114px;
  }
}

//图片上传
.imageUploaderBox{
  li{
    float: left;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px solid #d3d3d3;
    margin: 0 8px 8px 0;
    text-align: center;
    font-size: 10px;
    color: #fff;
    position: relative;
    img{
      width: 100px;
      height: 100px;
      vertical-align: top;
      cursor: pointer;
    }
    span{
      position: absolute;
      top: 6px;
      right: 6px;
      width: 20px;
      height: 20px;
      line-height: 20px;
    }
  }
  li.addPicBtn{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    cursor: pointer;
  }
  .uploadify{display: inline-block;}
}
.page-record{margin: 10px 0;line-height: 30px;border: 1px solid #e2e2e2;padding: 0 15px;}
.uploaderBtn{width: 100;height:100px;background:url("../img/uploadBtn1.png") no-repeat;border: 1px solid #d3d3d3;margin: 0 8px 8px 0;}
.txt-red{
  color: red;
}